{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "parserOptions": {
        "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "es6":true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
