
.stammdaten {
  md-input-container {
    max-width: 250px;
    margin-right: 10px;
  }
  .small {
    max-width:70px;
  }
  
  .clearBtnDocs {
      position: relative;
      margin-left:-20px;      
  } 
      
  
}

.DauerVerordnungsList {    
  md-checkbox[no-space] {
    margin-right: 0px;
  }  

  md-select {
    min-width: 150px;
   // margin-right: 5px;
  }

  table{
      table-layout: fixed;
  }

  th, td {
      overflow: hidden;
      width: 170px;
  }

  md-whiteframe {
    padding: 10px 50px 10px 50px; 
    background: white
  }
}

.history  {    
    textarea {
        min-height: 120px;
    }
}

.orders {
    md-list span {
        min-width: 110px;
    }
     table{
      table-layout: fixed;
  }

  tr:hover {
    //    background: red;
            
  }
  td:hover {
      cursor: pointer;
  }
  
  th, td {
      overflow: hidden;
      width: 140px;
  }
  
  .w0 { width:90px}
  .w2 {
      width : 170px;
  }
  .w3 {
      width : 200px;
  }
  
  
  
 
}