<h1>Krankendaten</h1>
<md-input-container class="md-block">
  <label>Diagnose</label>
  <textarea style="overflow-y: scroll;" ng-model="vm.patient.diagnose" md-maxlength="350" rows="5"></textarea>
</md-input-container>

 <md-card layout-padding class="DauerVerordnugnsList">
 <md-card-title>Versorgungsarten / Dauerverordnungen</md-card-title>
 <table>
 		<tr>
 			<th>Lieferant</th>
 			<th>Versorgungsart</th>
 			<th>Anlage 4</th>
 			<th>Dauerverordnugn Beginn</th>
 			<th>Dauerverordnugn Ende</th>
 			<th>Ausgestellt am</th>
 		</tr>
 		<tr ng-repeat="item in vm.patient.supplymentTypes">
	 		<td>
		 		<md-select ng-model="item.supplier">
	            <md-option ng-repeat="supplier in vm.suppliers" value="{{supplier}}">
	              {{supplier}}
	            </md-option>
	          </md-select>
          	</td>
	 		<td>
	 			<md-select ng-model="item.supplymentType">
				<md-option ng-repeat="type in vm.supplymentTypes" value="{{type}}">
				  {{type}}
				</md-option>
				</md-select>
	 		</td>
	 		<td>
	 			<md-checkbox ng-model="item.anlage4" no-space></md-checkbox><span>Anlage 4</span>
	 		</td>
	 		<td>
	 			<md-datepicker ng-model="item.durationPrescriptionStart" md-placeholder="Dauerverordnung von"></md-datepicker>
	 		</td>
	 		<td>
	 			<md-datepicker ng-model="item.durationPrescriptionEnd" md-placeholder="Dauerverordnung bis"></md-datepicker>
	 		</td>
	 		<td>
	 			<md-datepicker ng-model="item.prescriptionDate" md-placeholder="Ausgestellt am"></md-datepicker>
	 		</td>
 		</tr>
 		</table>
 		</md-card>