<h1>Krankendaten</h1>
<md-input-container class="md-block">
  <label>Diagnose</label>
  <textarea style="overflow-y: scroll;" ng-model="vm.patient.diagnose" md-maxlength="350" rows="5"></textarea>
</md-input-container>

<div layout="row" layout-padding  class="DauerVerordnungsList">
<md-whiteframe class="md-whiteframe-4dp" layout="column" >
 <div layout="row" layout-align="start center" >
  <span flex><b> Versorgungsarten / Dauerverordnungen</b></span>
  <div flex="10"  >
 	<md-button ng-click="vm.addSupplymentType()" class="md-button md-primary" aria-label="Add SupplymentType">
 		<md-icon class="material-icons">add</md-icon> Hinzufügen
	</md-button>	
	</div>
 </div>  
 <table>
 		<tr>
 			<th>Lieferant</th>
 			<th>Versorgungsart</th>
 			<th>Anlage 4</th>
 			<th>Dauerverordnugn Beginn</th>
 			<th>Dauerverordnugn Ende</th>
 			<th>Ausgestellt am</th>
 			<th></th>
 		</tr>
 		<tr ng-repeat="item in vm.patient.supplymentTypes">
	 		<td>
		 		<md-select ng-model="item.supplier">
	            <md-option ng-repeat="supplier in vm.suppliers" value="{{supplier}}">
	              {{supplier}}
	            </md-option>
	          </md-select>
          	</td>
	 		<td>
	 			<md-select ng-model="item.supplymentType">
					<md-option ng-repeat="type in vm.supplymentTypes" value="{{type}}">
						{{type}}
					</md-option>
				</md-select>
	 		</td>
	 		<td>
	 			<md-checkbox ng-model="item.anlage4" no-space></md-checkbox><span>Anlage 4</span>
	 		</td>
	 		<td>
	 			<md-datepicker ng-model="item.durationPrescriptionStart" md-placeholder="Dauerverordnung von"></md-datepicker>
	 		</td>
	 		<td>
	 			<md-datepicker ng-model="item.durationPrescriptionEnd" md-placeholder="Dauerverordnung bis"></md-datepicker>
	 		</td>
	 		<td>
	 			<md-datepicker ng-model="item.prescriptionDate" md-placeholder="Ausgestellt am"></md-datepicker>
	 		</td>
	 		<td><md-button ng-click="vm.removeSupplymentType(item)" class="md-icon-button md-accent" aria-label="Remove Row"><md-icon class="material-icons">delete</md-icon></md-button>
	 		</td>
 		</tr>
 		</table>
	</md-card>
</md-whiteframe>
</div>
