<div class="orders" ng-controller="OrdersOverviewController as orders">
<h1>Aufträge</h1>
<div ng-if="orders.selectedOrder!=null" ng-include="'app/patient/part/editOrder.html'" ng-animate="animate-if" class="animate-if"></div>



<table class="overview">
    <tr >
        <th align="left">Lieferdatum</th>
        <th align="left">Auftragsdatum</th>
        <th align="left">Rezept</th>
        <th align="left">Versorgezeitraum</th>
        <th align="left">Versorgungsart</th>
        <th align="left">Nächste Lieferung</th>
        <th align="left">Status</th>
    </tr>
    <tr ng-repeat="order in orders.patientOrders" ng-click="orders.editOrder(order, $event)" >
        <td>{{order.deliveryDate}}</td>
        <td>{{order.orderDate}}</td>
        <td>
            <md-icon title="Rezept OK" ng-if="order.prescriptionState==1" class="md-primary material-icons">check</md-icon>
            <md-icon title="Rezept offen" ng-if="order.prescriptionState==0" class="md-primary material-icons">clear</md-icon>
        </td>
        <td class="w3">{{order.carePeriodStart}} bis {{order.carePeriodEnd}}</td>
        <td>{{order.supplymentType}}</td>
        <td class="w2">{{order.nextDelivery}}</td>
        <!--<td ng-click="orders.editOrder2($event); $event.stopPropagation();">-->
        <td>
            <md-icon title="Auftrag abgeschlossen" ng-if="order.orderState==1" class="md-primary material-icons">check</md-icon>
            <md-icon title="Auftrag offen" ng-if="order.orderState==0" class="md-primary material-icons">clear</md-icon>
        </td>
    </tr>
    
</md-list>
</div>